<!DOCTYPE html>
<html>
    <head>
        <title>Input user</title>
        <!--The required field prevents the data from being NULL in the database.-->
    </head>
<body>
    <form method="POST" action="">
        Username <input type="text" name="users" required/>
        <br>
        Fullname <input type="text" name="name" required/>
        <br>
        Email <input type="text" name="email" required/>
        <br>
        Password <input type="password" name="password" required/>
        <input type="submit">
    </form>
</body>
</html>